
.TFtable{
    width: 100%;
    border-collapse: collapse;
}
.TFtable td{
    padding: 7px;
    border: aqua 1px solid;
}
.TFtable tr{
    background: #b8d1f3;
}
.TFtable tr:nth-child(odd){
    background: #b8d1f3;
}
.TFtable tr:nth-child(even){
    background: #dae5f4;
}